[mysqld]
        innodb_buffer_pool_size = 128M
        max_connections = 150
        innodb_flush_log_at_trx_commit = 2
        sync_binlog = 0
        innodb_doublewrite = 0
        key_buffer_size = 16M
        tmp_table_size = 64M
        max_heap_table_size = 64M
